@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 300px;
}

.section1top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 10px;
}

ul, li {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.section1bot {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

